# Ignore node_modules
# node_modules/

# Ignore log files
.log
.json

# Ignore environment variables
.env

# Ignore build files
/build
/dist


# Ignore IDE or editor specific files
.idea/
.vscode/

Lib/
.env
*.json
db.sqlite3
